@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(
    to left,
    #138808,
    #0033a0
  ); /* Gradient from green to chakraBlue */
  --foreground: #171717;
  --font-hind-madurai: 'Hind Madurai', sans-serif;
  --font-lobster: 'Lobster', cursive;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(
      to left,
      #138808,
      #0033a0
    ); /* Adjust the gradient for dark mode */
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-tiro-devanagari-hindi), serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
}

button {
  @apply rounded-3xl bg-gradient-to-tr from-green to-chakraBlue text-gold hover:scale-110 ease-in-out duration-300 focus:outline-none;
}
